$primary-color:#08526d;
//top bare
.upper-bar {
    background-color: #ececec;
    color: #787878;
    height: 27px;
    a {
        margin: 10px;
        text-align: left;
        list-style: none;
        font-size: 12px;
        color: #787878;
        display: inline;
        text-align: center;
        text-decoration: none;
        &:hover {
            border-bottom: solid 2px rgb(208, 218, 71);
        }
    }
}

//nav-bar
.nav-bar {
    //max-height: 90px;
    .title-nav {
        top: 18px;
        margin: 1px 0px -51px 0px;
        .title {
            font-size: 32px;
        }
    }
    .logo-nav {
        top: 32px;
    }
}

.fixed-top {
    position: fixed;
    background: #FFF;
}

// mega menu
.mega-menu {
    width: 800px;
    overflow: hidden;
    padding: 18px;
    .cader-menu-mega {
        position: relative;
        overflow: hidden;
        margin: 5px;
        max-width: 158px;
        padding: 9px;
        border: 1px solid #CCD;
        h4 {
            font-size: 18px;
            color: #1f0a41;
            margin-top: 3px;
        }
        h6 {
            margin: 12px 1px -1px 0px;
        }
        &:before {
            content: '';
            position: absolute;
            height: 0;
            width: 0;
            border: 2px solid transparent;
            bottom: 0;
            left: 0;
        }
        &:hover:before {
            width: 100%;
            height: 100%;
            border: 4px solid #ffdd33;
            border-right: none;
            border-bottom: none;
            transition: height 0.5s linear, width 0.5s linear 0.5s
        }
        // after
        &:after {
            content: '';
            position: absolute;
            height: 0;
            width: 0;
            border: 2px solid transparent;
            top: 0;
            right: 0;
        }
        &:hover:after {
            width: 100%;
            height: 100%;
            border: 4px solid #ffdd33;
            border-left: none;
            border-top: none;
            transition: height 0.5s linear, width 0.5s linear 0.5s
        }
    }
}

.Financement {
    margin-left: 20%;
    background-color: rgb(119, 110, 110);
    li {
        margin: 10px;
        padding: 15px;
        a {
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
        &:hover {
            background: #ffdd33;
        }
    }
}

.marchondising {
    margin-left: 61%;
    background-color: rgb(119, 110, 110);
    li {
        margin: 10px;
        padding: 15px;
        a {
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
        &:hover {
            background: #ffdd33;
        }
    }
}

//slider
.slider {
    //height: calc(100vh - 124px);
    height: 700px;
    .carousel {
        height: 100%;
    }
    .carousel-inner {
        display: flex;
        //align-items: center;
        justify-content: center;
        height: 100%;
        h1 {
            position: absolute;
            color: #fff;
            z-index: 3;
            font-size: 37px;
            max-width: 600px;
            left: 112px;
            top: 60px;
            line-height: 1;
            strong {
                font-size: 40px;
                display: inline-block;
                padding: 2px 10px;
            }
        }
        a {
            background: #ffde00;
            font-size: 18px;
            color: #FFF;
            border: 1px solid #FFF;
            padding: 10px;
            text-decoration: none;
            background-position: 0 0;
            background-size: 200.22% auto;
            position: absolute;
            bottom: 3%;
            width: 20%;
            left: 5%;
            text-align: center;
            overflow: hidden;
            z-index: 3;
            transition: 1s;
            &:hover {
                color: #000;
            }
            &::before {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 0;
                background: #eeff00;
                z-index: -1;
                transition: 1s;
            }
            &::before {
                top: 0;
                border-radius: 0 0 50% 50%;
            }
            &:hover::before {
                height: 180%;
            }
        }
    }
    img {
        height: 700px;
        object-fit: cover;
    }
    /*.overlay{
        position: absolute;
        width: 100%;
        height: calc(100vh - 124px);
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,.6);
        z-index: 2;
    }*/
    li {
        height: 6px;
        background-color: #dbd819;
        cursor: pointer;
    }
}

.offre {
    text-align: center;
    h1 {
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
        margin: .67em 0;
        display: block;
    }
    ul {
        list-style: none;
        align-items: center;
        justify-content: center;
        display: inline-flex;
        margin-left: 10px;
        span {
            font-size: 20px;
            text-transform: uppercase;
            .line {
                float: right;
                margin-right: 5px;
            }
        }
        li {
            margin-left: 2px;
            a {
                padding: 5px;
                background-color: #000;
                color: #FFF;
                font-size: 37px;
            }
        }
    }
}

//swiper
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 400px;
        color: rgb(12, 10, 10);
        .imgBx {
            width: 100%;
            height: 300px;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .details {
            box-sizing: border-box;
            padding: 20px;
            h3 {
                margin: 0;
                padding: 0;
                font-size: 20px;
                text-align: center;
                line-height: 20px;
            }
        }
    }
}

//servisec
.servisec {
    overflow: hidden;
    text-align: center;
    background-color: rgba(226, 219, 219, 0.788);
    position: relative;
    padding: 57px 0 100px 0;
    //before servisec
    &:before {
        content: "";
        transform: skew(0, -2deg);
        -ms-transform: skew(0, -2deg);
        -webkit-transform: skew(0, -2deg);
        top: -27px;
        height: 98px;
        width: 100%;
        position: absolute;
        left: 0;
        background: #fff;
        z-index: 3;
    }
    //after servisec
    &:after {
        content: "";
        transform: skew(0, -2deg);
        -ms-transform: skew(0, -2deg);
        -webkit-transform: skew(0, -2deg);
        bottom: -34px;
        height: 69px;
        width: 100%;
        position: absolute;
        left: 0;
        background: #fff;
        z-index: 3;
    }
    h2 {
        display: block;
        margin: 45px 0 20px 0;
        padding: 20px;
        font-size: 38px;
    }
    .cadre {
        // margin: 8px;
        overflow: hidden;
        border: 8px solid #FFF;
        max-width: 373px;
        // befor cadre
        &:before {
            content: '';
            position: absolute;
            height: 0;
            width: 0;
            border: 8px solid transparent;
            bottom: 0;
            left: 15px;
        }
        // hover before cadre
        &:hover:before {
            width: 92%;
            height: 100%;
            border: 8px solid #ffdd00;
            border-right: none;
            border-bottom: none;
            transition: height 0.5s linear, width 0.5s linear 0.5s
        }
        // after cadre
        &:after {
            content: '';
            position: absolute;
            height: 0;
            width: 0;
            border: 8px solid transparent;
            top: 0;
            right: 15px;
        }
        // hover after cadre
        &:hover:after {
            width: 90%;
            height: 100%;
            border: 8px solid #ffdd00;
            border-left: none;
            border-top: none;
            transition: height 0.5s linear, width 0.5s linear 0.5s
        }
        .bg-transparent {
            padding: 14px;
        }
        .Decouvrer-service {
            height: 100px;
            background: #ffdd00;
            justify-content: center;
            padding: 31px;
            position: absolute;
            bottom: -400%;
            width: 89%;
            transition: all .7s ease-in-out;
            h4 {
                a {
                    text-decoration: none;
                    color: #FFF;
                }
            }
        }
        &:hover .Decouvrer-service {
            bottom: 0;
            cursor: pointer;
        }
        .cade-img {
            margin: 30px 30px 30px 30px;
        }
    }
}

//personalise
.accessoireLeft {
    background-color: rgba(22, 21, 21, 0.952);
    color: #FFF;
    height: 470px;
    padding: 18px;
    h2 {
        line-height: 1.2;
        z-index: 2;
        margin-bottom: 1.875rem;
        position: relative;
    }
    p {
        font-size: 11px;
        line-height: 14px;
        position: relative;
        z-index: 2;
    }
    .btn-default {
        border: 1px solid #FFF;
        text-decoration: none;
        color: rgb(27, 26, 26);
        background: #ececec;
        position: absolute;
        width: 60%;
        height: 38px;
        text-align: center;
        left: 21%;
        padding: 6px;
        z-index: 3;
        transition: 1s;
        overflow: hidden;
        &:hover {
            color: #000;
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 0;
            background: #ffde00;
            z-index: -1;
            transition: 1s;
        }
        &::before {
            top: 0;
            border-radius: 0 0 50% 50%;
        }
        &:hover::before {
            height: 180%;
        }
    }
    img {
        margin-top: 80px;
        width: 100%;
        //bottom: 0;
    }
}

// accssecoire
.up {
    width: 100%;
    overflow: hidden;
    margin-bottom: 2.5rem;
    a {
        text-decoration: none;
        color: #000;
        display: block;
        img {
            display: block;
        }
        .up-accessoire {
            width: 100%;
            background: #ececec;
            position: relative;
            overflow: hidden;
            transition: 1s;
            .up-animatio-baground {
                display: table;
                width: 100%;
                position: relative;
                z-index: 2;
                .up-info {
                    height: 80px;
                    //vertical-align: middle;
                    text-align: center;
                    margin: 13px 0 -14px 1px;
                    h3 {
                        font-size: 16px;
                        text-transform: none;
                        margin-bottom: .3125rem;
                    }
                    .up-prix {
                        font-size: 20px;
                        small {
                            font-size: 85%;
                        }
                    }
                }
                &:hover {
                    color: #000;
                }
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 0;
                    background: #ffde00;
                    z-index: -1;
                    transition: 1s;
                }
                &::before {
                    top: 0;
                    border-radius: 0 0 50% 50%;
                }
                &:hover::before {
                    height: 180%;
                }
            }
        }
    }
}

//map
.map {
    clear: both;
    background: #ececec;
    transform: translate(0, 0);
    &:before {
        content: "";
        transform: skew(0, -2deg);
        -ms-transform: skew(0, -2deg);
        -webkit-transform: skew(0, -2deg);
        top: -25px;
        height: 50px;
        width: 100%;
        position: absolute;
        left: 0;
        background: #fff;
        z-index: 3;
    }
    #map_location {
        width: 100%;
        height: 450px;
    }
    .right_map {
        width: 100%;
        position: relative;
        .btn-default {
            color: #FFF;
            border: 1px solid #FFF;
            padding: 10px;
            text-decoration: none;
            position: absolute;
            bottom: 5%;
            width: 60%;
            text-align: center;
            z-index: 3;
            overflow: hidden;
            left: 21%;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 0;
                background: #ffde00;
                z-index: -1;
                transition: 1s;
            }
            &::before {
                top: 0;
                border-radius: 0 0 50% 50%;
            }
            &:hover::before {
                height: 180%;
            }
        }
    }
    .map-info {
        position: absolute;
        top: 50px;
        margin-left: 24%;
        h2 {
            font-size: 31px;
            text-align: center;
            color: rgb(9, 10, 1);
        }
        .menu-info-map {
            max-width: 100%;
            width: 270px;
            height: 55px;
            position: relative;
            span {
                background: #fff;
                width: 100%;
                height: 40px;
                display: block;
                //line-height: 3.125rem;
                padding: 11px 64px 1px 64px;
                //overflow: hidden;
                //text-overflow: ellipsis;
                //white-space: nowrap;
                color: #999;
                text-transform: uppercase;
                font-size: 15px;
                cursor: pointer;
                position: relative;
            }
            ul {
                list-style: none;
                padding: 0 !important;
                margin: 0;
                position: absolute;
                left: 0;
                width: 100%;
                background: #fff;
                max-height: 0;
                overflow: hidden;
                -webkit-transition: max-height 0.8s;
                -moz-transition: max-height 0.8s;
                transition: max-height 0.8s;
                display: block !important;
                li {
                    margin: 8px 20px 8px 18px;
                    a {
                        color: #333333;
                    }
                }
            }
            &:hover ul {
                max-height: 250px;
            }
        }
    }
}

//footer
footer {
    background-color: #333333;
    color: #FFF;
    padding: 10px;
    li {
        a {
            color: #FFF;
            font-size: 15px;
            position: relative;
            &:hover {
                color: #FFF;
                border-bottom: rgb(206, 177, 12);
            }
        }
    }
    .icon {
        display: inline-flex;
        list-style: none;
        li {
            margin: 6px 10px 2px 10px;
            a {
                text-decoration: none;
                transition: 1s;
                &:hover {
                    box-shadow: 0px 4px 1px -1px #fff;
                    color: #ffde00;
                    //transform: rotate(45deg);
                    transform: translate(0, -0.1875rem);
                }
            }
        }
    }
}

.bottom-foter {
    background-color: #000;
    padding: 10px;
    ul {
        display: inline-flex;
        padding-left: 0;
        list-style: none;
        li {
            margin: 20px;
            a {
                text-decoration: none;
                color: #FFF;
                font-size: 15px;
                position: relative;
            }
        }
    }
}

//overflow-x: scroll;
//height: 100vh;
@media screen and (max-width:500px) {
    .mega-menu {
        width: 216px;
        padding: 9px 20px 0px 20px;
        overflow: scroll;
        height: 80vh;
    }
    .nav-bar .title-nav .title {
        font-size: 13px;
    }
    .Decouvrer-service {
        height: 100px;
        background: #ffdd00;
        justify-content: center;
        padding: 31px;
        position: absolute;
        bottom: -80%;
        width: 89%;
        transition: all .7s ease-in-out;
    }
    .coder {
        margin: 12px;
    }
    .body {
        display: block;
    }
}